* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 600px;
  height:70px;
  background-color: black;
  /* border: solid 1px blue; */
  /* background-image: url(./img/space.gif); */
  background-size: cover;
  z-index: 2;
}

.screen{
  width: 600px;
  height: 200px;
  background-image: url(./img/space.gif);
  background-size: contain;
  align-self: flex-end;
  margin-bottom: 10px;
  position: absolute;
  z-index: 1;
  overflow: scroll;

}

.notas{
  width: 200px;
  height: 60px;
  background-image: url(./img/text.gif);
  background-size: contain;
  background-repeat: no-repeat;
  justify-self: center;
  position: absolute;
}

.pikachu{
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin-bottom: 10px;
  background-image: url(./img/pikachu.gif);
}

.pikachu.moviendo{
  position: relative;
  animation-name: moving-2;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  z-index: 3;
  left: 2000px;
}
@keyframes moving-2{
  0% {
      left: -1000px;
  }
  
  100% {
      left: 1000px;
  }
}

body {
  background-color: black;
  font-family: 'VT323', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo {
  margin-bottom: 10px;
  height: 30px;
}

.todo-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 4rem;
  background-image: url(./img/forest-2.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

.add-form {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.input-container {
  display: flex;
}

:root {
  --part-1: #2a3d64a4;
  --part-2: rgba(0, 153, 20, 0)
  /* linear-gradient(45deg, #ff0c0c3a, #9e9e9e44) */
}

.input-text {
  display: flex;
  background-color: var(--part-1);
  outline: none;
  border: none;
  padding: 15px 10px;
  border-radius:0px;
  width: 250px;
  color: white;
  font-family: 'VT323', monospace;
  padding-left: 5px;
}

.input-text::placeholder {
  color:white;
  font-size: 0.9rem;
  font-family: 'VT323', monospace;
  font-size: 20px;
}

.input-container img {
  width: 34px;
  background-color: var(--part-1);
  border-radius: 8px 0px 0px 8px;
  padding: 0.7rem;
}

.add-btn {
  background: var(--part-1);
  outline: none;
  border: 0px solid;
  padding: 10px 40px;
  color: rgb(226, 226, 226);
  font-size: 20px;
  cursor: pointer;
  font-family: 'VT323', monospace;
}

.delete-btn {
  cursor: pointer;
  font-family: 'VT323', monospace;
}

.tasks-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: min(550px, 100%);
  gap: 1px;
}

.tasks-list li {
  background: var(--part-2);
  color: rgb(226, 226, 226);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20px;
  padding: 20px 10px;
  font-family: 'VT323', monospace;
  z-index: 1;
  font-size: 22px;
 
}

.deleteAll-btn {
  margin-top: 5px;
  background: transparent;
  outline: none;
  border: 0px solid;
  padding: 15px 20px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  width: min(550px, 100%);
  font-family: 'VT323', monospace;
  display: flex;
  text-align: center;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}

/* .add-btn:hover,
.deleteAll-btn:hover {
  background: var(--part-2);
} */

footer {
  text-align: center;
  color: white;
  padding: 50px 0px;
}

@media (max-width: 576px) {
  .input-text {
    width: 100%;
  }

  header{
    width: 100%;
  }

  .input-container {
    width: 100%;
  }

  .add-container {
    justify-content: center;
    gap: 1rem;
  }

  .todo-container {
    padding: 2rem 1rem;
    justify-content: center;
    align-items: center;
  }

  .add-btn {
    width: 100%;
  }

  .add-form{
    width: 60%;
  }
  .screen{
    width: 95%;
  }
}